@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #ff4a11;

    --background: 15 65% 4.24%;
    --foreground: 9 43% 21%;

    --muted: 15 50% 15.9%;
    --muted-foreground: 15 10% 55.3%;

    --popover: 15 45% 6.890000000000001%;
    --popover-foreground: 15 10% 97.65%;

    --card: 15 45% 6.890000000000001%;
    --card-foreground: 15 10% 97.65%;

    --border: 234 13% 91%;
    --input: 15 50% 15.9%;

    --primary: 15 100% 53%;
    --primary-foreground: 15 10% 5.300000000000001%;

    --secondary: 55 99% 56%;
    --secondary-foreground: 55 9.9% 5.6000000000000005%;

    --accent: 15 50% 15.9%;
    --accent-foreground: 15 10% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 15 10% 97.65%;

    --ring: 15 100% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}

@layer components {
  .container {
    @apply 2xl:max-w-screen-xl md:px-6 px-4 mx-auto;
  }
}

/* Scale 3d */
.scale-3d-0 {
  opacity: 0;
  transform: scale3d(1, 0, 0);
}

.scale-3d-1 {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* Marquee */
.rfm-marquee {
  min-width: 0px !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table.compare-table tr th,
table.compare-table tr td {
  @apply sm:px-4 md:px-8 py-5 border-b border-[#ff4a1180] text-sm font-bold text-brown;
}

table.compare-table tr:last-of-type th,
table.compare-table tr:last-of-type td {
  @apply border-none;
}

table.compare-table tr td:last-of-type {
  @apply text-[#89685c] font-bold text-sm;
}

table.compare-table tr th {
  @apply text-left pl-0;
}

table.compare-table tr svg {
  @apply mx-auto;
}

table.compare-table td:first-of-type {
  @apply bg-light_pink;
}

table.compare-table tr:first-of-type td:first-of-type {
  @apply rounded-tl-[16px] rounded-tr-[16px];
}

table.compare-table tr:last-of-type td:first-of-type {
  @apply rounded-bl-[16px] rounded-br-[16px];
}

table.compare-table tr td:first-of-type {
  @apply w-[35%] px-8 shadow-[10px_10px_0px_0px_#FF4A11];
}
